extends base

block append head
  script(src='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css' rel='stylesheet')



block content 
  .row
    .column
      .card
        h1= cases.City
        h4= cases.Origin
        p
          a(href=`${cases.Website}`) Website
    .column
      .card       
        h4= `Summary : ${cases.Summary}`
        


  section.section-map
    #map(data-location=`${JSON.stringify(cases.Location)}`)




