
extends base

block content
  h2 Confirmed cases in UK
    .container
      table
        thead
          tr.ui.inverted.red.table
            th Country
            th County
            th City
            th Origin
            th Date
            th Confirmed
            th Dead
            th Details
        each i in cases
          tbody
          tr
            td= i.Country
            td= i.County
            td= i.City
            td= i.Origin
            td= i.Date
            td= i.Confirmed
            td= i.Dead
            td
              a.ui.primary.button Details

  





